{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-secondary">&#x2190; Wróć do koszyka</a>
            <hr>
            <h3>Podsumowanie zamówienia</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img src="{{item.product.imageURL}}" class="row-image"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}} zł</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Przedmiotów: {{order.get_cart_items}}</h5>
            <h5>Całość: {{order.get_cart_total|floatformat:2}} zł</h5>
        </div>
        
    </div>
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <p>Dane osobowe:</p>
                    <hr>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="firstname" placeholder="Imię...">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="lastname" placeholder="Nazwisko...">
                    </div>
                    <div class="form-field">
                        <input required type="email" class="form-control" name="email" placeholder="Email...">
                    </div>
                    <hr>
                </div>
                <div id="shipping-info">
                    <p>Adres do wysyłki:</p>
                    <hr>
                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="Adres...">
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="zipcode" placeholder="Kod pocztowy...">
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Miasto...">
                    </div>
                <hr>
                </div>
                <input type="submit" value="Kontynuuj" id="form-button" class="btn btn-success btn-block">
            </form>
        </div>
        <div class="box-element hidden" id="payment-info">
            <small>Opcje płatności</small>
            <button style="background-image: url('{% static 'PAYU_LOGO_LIME.png' %}')" class="btn btn-secondary" id="make-payment" data-toggle="modal" data-target="#paymentModal"></button>
        </div>
    </div>
</div>
<div id="paymentModal" class="modal fade hidden" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Oczekiwanie na płatność</h4>
      </div>
      <div class="modal-body">
        <p>Zostaniesz przekierowany na stronę płatności PayU. Po zakończeniu transakcji zostaniesz powiadomiony o przyjęciu zamówienia.</p>
        <p>Czas na wykonanie transakcji: <span id="timer">01:45</span></p>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
    var shipping = '{{order.shipping}}';
    var total = '{{order.get_cart_total}}';
    var orderId;

    if(shipping=='False') {
        document.getElementById('shipping-info').innerHTML = '';
    }

    if(user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = '';
    }

    if(shipping == 'False' && user != 'AnonymousUser') {
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    }



    var form = document.getElementById('form');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        console.log('Form submitted...');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    document.getElementById('make-payment').addEventListener('click', function(e) {
        //submitFormData();
        document.body.style.cursor='wait';
        payment();
    })

    function payment() {
        var request = new XMLHttpRequest();


        request.open('POST', 'https://cors-anywhere.herokuapp.com/https://secure.snd.payu.com/api/v2_1/orders', true);

        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Authorization', 'Bearer d9a4536e-62ba-4f60-8017-6053211d3f47');

        request.onreadystatechange = function () {

            if (this.readyState === 4) {
                //console.log('Status:', this.status);
                //console.log('Headers:', this.getAllResponseHeaders());
                //console.log('Body:', this.responseText);
                window.open(this.getResponseHeader('x-final-url'), '_blank');
                document.body.style.cursor='default';

                let url = decodeURI(this.getResponseHeader('x-final-url'));
                url = url.substring(url.indexOf('?'));
                let searchParams = new URLSearchParams(url);
                orderId = searchParams.get('orderId');
                console.log(searchParams.get('orderId'));
                paymentCheckStatus(orderId);
            }
        };

        var body = {
        'continueUrl': 'https://ecommerce-website-giti.herokuapp.com/payment_complete',
        'customerIp': '{{clientIP}}',
        'merchantPosId': '300746',
        'description': 'Księgarnia online',
        'currencyCode': 'PLN',
        'validityTime': '90',
        'totalAmount': '{% widthratio order.get_cart_total 1 100 %}',
        'products': [
        {% for item in items %}
            {
            'name': '{{item.product.name}}',
            'unitPrice': '{% widthratio item.product.price 1 100 %}',
            'quantity': '{{item.quantity}}'
            },
        {% endfor %}
        ]
        };

        request.send(JSON.stringify(body));
    }

    async function paymentCheckStatus(orderId) {
        let timerContainer = document.getElementById('timer');
        let counter = 90;
        setInterval(function(){
            counter--;
            timerContainer.innerHTML = '0'+parseInt(counter/60)+':'+parseInt((counter%60)/10)+parseInt((counter%60)%10);
            if(counter%3==0 && counter>-1) {
                var request = new XMLHttpRequest();

                request.open('GET', 'https://cors-anywhere.herokuapp.com/https://secure.snd.payu.com/api/v2_1/orders/'+orderId, true);

                request.setRequestHeader('Authorization', 'Bearer d9a4536e-62ba-4f60-8017-6053211d3f47');

                request.onreadystatechange = function () {
                if (this.readyState === 4) {
                    console.log('Status:', this.status);
                    console.log('Headers:', this.getAllResponseHeaders());
                    console.log('Body:', this.responseText);
                    paymentStatus = JSON.parse(this.responseText).orders[0].status;
                    if(counter<=0)
                        paymentStatus = 'CANCELED';
                    console.log(paymentStatus);
                    if(paymentStatus == 'COMPLETED') {
                        submitFormData();
                    }
                    else if(paymentStatus == 'CANCELED') {
                        cancelOrder(orderId);
                    }
                }
                };
                request.send();
            }
        }, 1000);

    }

    function cancelOrder(orderId) {
        var request = new XMLHttpRequest();

        request.open('DELETE', 'https://cors-anywhere.herokuapp.com/https://secure.snd.payu.com/api/v2_1/orders/'+orderId);

        request.setRequestHeader('Authorization', 'Bearer d9a4536e-62ba-4f60-8017-6053211d3f47');

        request.onreadystatechange = function () {
        if (this.readyState === 4) {
            console.log('Status:', this.status);
            console.log('Headers:', this.getAllResponseHeaders());
            console.log('Body:', this.responseText);
            window.location.href = "{% url 'fail' %}";
        }
        };

        request.send();
    }

    function submitFormData() {
        console.log('Payment button click');

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        var shippingInfo = {
            'address':null,
            'zipcode':null,
            'city':null,
        }

        if(shipping!='False') {
            shippingInfo.address = form.address.value;
            shippingInfo.zipcode = form.zipcode.value;
            shippingInfo.city = form.city.value;
        }

        if(user=='AnonymousUser') {
            userFormData.name = form.firstname.value+' '+form.lastname.value;
            userFormData.email = form.email.value;

        }

        var url = '/process_order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
        })
        .then((response)=>response.json())
        .then((data)=> {
            console.log('Success:', data);
            //alert("Transakcja ukończona");


            cart = {};
            document.cookie = 'cart='+JSON.stringify(cart)+";domain=;path=/";
            window.location.href = "{% url 'success' %}";
        })
    }
</script>
{% endblock content %}