{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'cart' %}" class="btn btn-secondary">&#x2190; Wróć do koszyka</a>
            <hr>
            <h3>Podsumowanie zamówienia</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img src="{{item.product.imageURL}}" class="row-image"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}} zł</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Przedmiotów: {{order.get_cart_items}}</h5>
            <h5>Całość: {{order.get_cart_total|floatformat:2}} zł</h5>
        </div>
        
    </div>
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <p>Dane osobowe:</p>
                    <hr>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="firstname" placeholder="Imię...">
                    </div>
                    <div class="form-field">
                        <input required type="text" class="form-control" name="lastname" placeholder="Nazwisko...">
                    </div>
                    <div class="form-field">
                        <input required type="email" class="form-control" name="email" placeholder="Email...">
                    </div>
                    <hr>
                </div>
                <div id="shipping-info">
                    <p>Adres do wysyłki:</p>
                    <hr>
                    <div class="form-field">
                        <input type="text" class="form-control" name="address" placeholder="Adres...">
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="zipcode" placeholder="Kod pocztowy...">
                    </div>
                    <div class="form-field">
                        <input type="text" class="form-control" name="city" placeholder="Miasto...">
                    </div>
                <hr>
                </div>
                <input type="submit" value="Kontynuuj" id="form-button" class="btn btn-success btn-block">
            </form>
        </div>
        <div class="box-element hidden" id="payment-info">
            <small>Opcje płatności</small>
            <button class="btn btn-secondary" id="make-payment">Zrealizuj płatność</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    var shipping = '{{order.shipping}}';
    var total = '{{order.get_cart_total}}';

    if(shipping=='False') {
        document.getElementById('shipping-info').innerHTML = '';
    }

    if(user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = '';
    }

    if(shipping == 'False' && user != 'AnonymousUser') {
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    }



    var form = document.getElementById('form');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        console.log('Form submitted...');
        document.getElementById('form-button').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })

    document.getElementById('make-payment').addEventListener('click', function(e) {
        //submitFormData();
        payment();
    })
    function payment() {
        var request = new XMLHttpRequest();

        request.open('POST', 'https://secure.payu.com/api/v2_1/orders/');

        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Authorization', 'Bearer 3e5cac39-7e38-4139-8fd6-30adc06a61bd');

        request.onreadystatechange = function () {
        if (this.readyState === 4) {
            console.log('Status:', this.status);
            console.log('Headers:', this.getAllResponseHeaders());
            console.log('Body:', this.responseText);
        }
        };

        var body = {
        'notifyUrl': 'https://your.eshop.com/notify',
        'customerIp': '127.0.0.1',
        'merchantPosId': '145227',
        'description': 'RTV market',
        'currencyCode': 'PLN',
        'totalAmount': '21000',
        'products': [
            {
            'name': 'Wireless mouse',
            'unitPrice': '15000',
            'quantity': '1'
            },
            {
            'name': 'HDMI cable',
            'unitPrice': '6000',
            'quantity': '1'
            }
        ]
        };

        request.send(JSON.stringify(body));
    }

    function submitFormData() {
        console.log('Payment button click');

        var userFormData = {
            'name':null,
            'email':null,
            'total':total,
        }

        var shippingInfo = {
            'address':null,
            'zipcode':null,
            'city':null,
        }

        if(shipping!='False') {
            shippingInfo.address = form.address.value;
            shippingInfo.zipcode = form.zipcode.value;
            shippingInfo.city = form.city.value;
        }

        if(user=='AnonymousUser') {
            userFormData.name = form.firstname.value+' '+form.lastname.value;
            userFormData.email = form.email.value;

        }

        var url = '/process_order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo})
        })
        .then((response)=>response.json())
        .then((data)=> {
            console.log('Success:', data);
            alert("Transakcja ukończona");


            cart = {};
            document.cookie = 'cart='+JSON.stringify(cart)+";domain=;path=/";
            window.location.href = "{% url 'store' %}";
        })
    }
</script>
{% endblock content %}