{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{{product.imageURL}}">
            <div class="card-body">
                <h3 class="card-title">{{product.name}}</h3>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum beatae error quae vel! Amet perspiciatis sint expedita magni consectetur? Voluptatibus odit in molestiae blanditiis alias et consectetur, ratione recusandae quasi.</p>
                <h5 class="card-text text-right"><strong>{{product.price|floatformat:2}} zł</strong></h5>
                <button data-product={{product.id}} data-action="add" class="btn btn-primary update-cart">Dodaj do koszyka</button>
                <a href="#" class="btn">Więcej...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}