{% extends 'store/main.html' %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <a class="btn btn-secondary mb-3" href="{% url 'store' %}">&#x2190; Wróć do sklepu</a>
    </div>
    <div class="col-lg-6 offset-lg-3">
        <div class="box-element p-2">
            <h1>Zaloguj się</h1>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
            </form>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Zapomniałeś hasła?</a>
            <p>Jeśli nie masz jeszcze konta, to proszę <a href="{% url 'account_signup' %}">zarejestruj się</a> </p>
        </div>
    </div>
</div>

{% endblock %}